<%= form_with(model: @task, local: true, url: choose_new_or_edit ) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_with(model: @task, local: true, url: choose_new_or_edit ) do |form| %>
  <div class="task_title">
    <%= form.label :題名 %>
    <%= form.text_field :title %>
  </div>
  <div class="task_content">
    <%= form.label :内容 %>
    <%= form.text_field :content %>
  </div>
  <div class="task_deadline">
    <%= form.label :終了期限 %>
    <%= form.date_field :deadline %>
  </div>
    <div class="task_status">
    <%= form.label :状態 %>
    <%= form.select :status, [["未着手", "waiting"],["着手中", "doing"],["完了", "done"]], include_blank: "選択してください" %>
  </div>
  <div class="task_status">
    <%= form.label :優先度 %>
    <%= form.select :priority, [["低", "low"],["中", "medium"],["高", "high"]], include_blank: "選択" %>
  </div>
  <%= form.submit %>
<% end %>
<%= link_to "一覧へ戻る", tasks_path %>
<% end %>
