<h1>タスク詳細画面</h1>
<p>タイトル: <%= @task.title %></p>
<p>内容: <%= @task.content %></p>
<p>終了期限: <%= @task.deadline %></p>
<p>状態: <%= @task.status_i18n %></p>
<p>優先度: <%= @task.priority_i18n %></p>
<p>タグ: 
  <% @task.labels.each do |label|%>
    <%= label.label_name %>
  <% end %></p>
<%= link_to "一覧へ戻る", tasks_path %>