<section class="vh-100 gradient-custom-2">
  <div class="container py-5 h-200">
    <div class="row d-flex justify-content-center align-items-center h-200">
      <div class="col-md-12 col-xl-10">
        <div class="card mask-custom">
          <div class="card-body p-4 text-white">
            <div class="text-center pt-3 pb-2">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"
                alt="Check" width="60">
              <h2 class="my-4">タスク詳細画面</h2>
            </div>
            <p>タイトル: <%= @task.title %></p>
            <p>内容: <%= @task.content %></p>
            <p>終了期限: <%= @task.deadline %></p>
            <p>状態: <%= @task.status_i18n %></p>
            <p>優先度: <%= @task.priority_i18n %></p>
            <p>タグ: 
              <% @task.labels.each do |label|%>
                <%= label.label_name %>
              <% end %></p>
            <%= link_to "一覧へ戻る", tasks_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>