<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "つのエラー") %> があるので<%= @user.name %> 情報の更新ができません</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p>ユーザーの登録内容が変更できます。<br>内容を確認し更新ボタンを押してください。</p>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div><br>
  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div><br>
  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div><br>
  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div><br>
  <div class="actions">
    <%= form.submit %>
  </div>
  <% end %>
  <%= link_to 'ユーザーページ', @user, class: "btn btn-outline-info" %>