<section class="vh-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-10">
        <div class="card mask-custom">
          <div class="card-body p-4 text-white">
            <div class="text-center pt-3 pb-2">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"
                alt="Check" width="60">
                <p><%= notice %></p>
                  <h1><%= @user.name %>のページ</h1>
                    <p>メールアドレス: <%= @user.email %></p>

                    <% if current_user.admin? %>
                      <p>管理者権限: あり</p>
                        <%= link_to 'ユーザー管理画面', admin_users_path, class: "btn btn-outline-primary" %> |
                        <%= link_to "新規タスク投稿", new_task_path, class: "btn btn-primary" %> |
                        <%= link_to 'ユーザー情報変更', edit_user_path(@user), class: "btn btn-outline-warning" %> |
                        <%= link_to 'タスク一覧', tasks_path, class: "btn btn-outline-primary" %> |
                      <% else %>
                      <p>管理者権限: なし</p>
                        <%= link_to "新規タスク投稿", new_task_path, class: "btn btn-primary" %> |
                        <%= link_to 'ユーザー情報変更', edit_user_path(@user), class: "btn btn-outline-warning" %> |
                        <%= link_to 'タスク一覧', tasks_path, class: "btn btn-outline-primary" %> |
                    <% end %>

            <table class="table text-white mb-0">
              <thead>
                <tr>
                  <th scope="col"><div class="user">ユーザー</div></th>
                  <th scope="col"><div class="title">タイトル</div></th>
                  <th scope="col"><div class="content">内容</div></th>
                  <th scope="col"><div class="deadline">終了期限</div></th>
                  <th scope="col"><div class="status">状態</div></th>
                  <th scope="col"><div class="priority">優先度</div></th>
                </tr>
              </thead>
              <tbody>
              <% @tasks.each do |task| %>
                <div class="task-preview">
                  <tr class="fw-normal">
                    <td class="align-middle"><span><div class="task-user"><%= task.user.name %></span></div></td>
                    <td class="align-middle"><span><div class="task-title"><%= task.title %></span></div></td>
                    <td class="align-middle"><span><div class="task-content"><%= task.content %></span></div></td>
                    <td class="align-middle"><span><div class="task-deadline"><%= task.deadline %></span></div></td>
                    <td class="align-middle"><span><div class="task-status"><%= task.status_i18n %></span></div></td>
                    <td class="align-middle"><h6 class="mb-0"><span class="badge bg-danger"><div class="task-priority"><%= task.priority_i18n %></span></h6></div></td>
                    <td class="align-middle"><span><div class="task-show"><%= link_to "詳細", task %></span></div><td>
                    <td class="align-middle"><span><div class="task-edit"><%= link_to "編集", edit_task_path(task) %></span></div></td>
                    <td class="align-middle"><span><div class="task-delete"><%= link_to "削除", task, method: :delete, data: { confirm:"本当に削除しても良いですか？" } %></span></div></td>
                  </tr>
                </div>
                <% end %>
                <%= paginate @tasks %>
              </tbody>
            </table>
            <%= link_to "一覧へ戻る", tasks_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

